body{
    background: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/300px-Flag_of_the_United_States.svg.png");
}
div{
    background-color: yellow;
    border-color: #0a2e64;
    border-width: 10gd;
    border-style: double;
}
p{
    color: #0d66c2;
}
span{
    color: #00bb00;
}